.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    width: 100%;
    height: 100vh;
}

#box1 {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    background-color: #f0f0f0;
}
#box2 {
    grid-column: 1 / span 3;
    grid-row: 2 / span 10;
    background-color: #d0d0d0;
}
#box3 {
    grid-column: 4 / span 6;
    grid-row: 2 / span 1;
    background-color: #b0b0b0;
}
#box4 {
    grid-column: 10 / span 3;
    grid-row: 2 / span 10;
    background-color: #909090;
}
#box5 {
    grid-column: 4 / span 6;
    grid-row: 3 / span 9;
    background-color: #707070;
}   
#box6 {
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
    background-color: #505050;
}

@media (max-width: 768px) {
    #box1{
        grid-column: 1 / span 12;
    }
    #box2{
        grid-column: 1 / span 3;
        grid-row: 3 / span 9;
    }
    #box3{
        grid-column: 1 /span 12;
        grid-row: 2;
    }
    #box4{
        grid-column: 1 / span 3;
        grid-row: 12;
    }
    #box5{
        grid-column: 4 / span 9;
        grid-row: 3 / span 9;
    }
    #box6{
        grid-column: 4 /span 9;
        grid-row: 12;
    }
}  



.loader{
    width: 48px;
    height: 48px;
    border: 6px solid rgba(0,0,0,0.12); /* light ring */
    border-top-color: #0b76ef; /* visible part color */
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    /* center for demo (optional) */
    /* display:inline-block;/ */
  }

  @keyframes spin {
    to { transform: rotate(360deg); }
  }

.loader2{
    height: 100px;
    width: 100px;
    border: 16px solid #f3f3f3; /* Light ring */
    border-top: 16px solid goldenrod; /* Visible part color */
    border-radius: 50%;
    animation: spin2 2s linear infinite;
}
@keyframes spin2 {
        to { transform: rotate(360deg); }
}

.pulse-wrap{
    display:flex;
    justify-content:center;
    align-items:center;
    height:80px; /* demo centering */
  }
  .dot{
    width:20px;
    height:20px;
    background:#ff6b6b;
    border-radius:50%;
    animation: pulse 1s ease-in-out infinite;
    transform-origin:center;
  }

  @keyframes pulse{
    0%   { transform: scale(1); opacity:1; }
    50%  { transform: scale(1.6); opacity:0.6; }
    100% { transform: scale(1); opacity:1; }
  }

  .skeleton { width:300px; gap:10px; display:flex; flex-direction:column; }
  .skeleton-line{
    height:14px;
    border-radius:8px;
    background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
    background-size: 200% 100%;
    animation: shimmer 1.2s linear infinite;
  }
  .skeleton-line.short { width:40%; height:12px; }
  .skeleton-line.long  { width:90%; height:16px; }

  @keyframes shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
  }
