*{
    align-items: center;
    font-family: Georgia;
}

.para{
    color: white;
    background-color: cornflowerblue;
}

div button{
    background-color: purple;
    color: azure;
}

button:hover{
    background-color: yellow;
    color: blue;
}

.para:nth-of-type(odd){
    color: yellow;
}

#mainTopic::first-letter{
    color: red;
}

#yes:checked + label{
    color: darkgreen;
}